.small {
  font-size: .7em; }

.smallitalic {
  font-size: .7em;
  font-style: italic; }

.reveal pre {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(180, 180, 180, 0.5); }

p code, p kbd {
  background: rgba(180, 180, 180, 0.2);
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 4px; }

p kbd {
  font-family: monospace; }

a.github-corner {
  position: absolute;
  z-index: 1;
  top: 0;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: var(--r-main-color);
  opacity: 0.5;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .has-dark-background a.github-corner {
    color: white; }
  .has-light-background a.github-corner {
    color: black; }
  a.github-corner.bottom {
    top: auto;
    bottom: 3px; }

a.github-corner:hover {
  color: var(--r-main-color);
  opacity: 1; }
  .has-dark-background a.github-corner:hover {
    color: white; }
  .has-light-background a.github-corner:hover {
    color: black; }
