.reveal {
  opacity: 0;
  -webkit-transition: opacity 600ms ease;
  -o-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.reveal.ready {
  opacity: 1;
}

.small {
  font-size: 0.7em;
}

.smallitalic {
  font-size: 0.7em;
  font-style: italic;
}

.reveal pre {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  background: rgba(180, 180, 180, 0.5);
}

.reveal p + p {
  margin-top: 1.5rem;
}

p code, p kbd, ul code {
  background: rgba(180, 180, 180, 0.2);
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 4px;
}
.has-light-background p code, .has-light-background p kbd, .has-light-background ul code {
  background: rgba(0, 0, 0, 0.2);
}

p kbd, ul kbd {
  font-family: monospace;
}

p code {
  padding: 3px 5px;
  margin: 0 0.15em;
}

.has-light-background {
  --r-link-color: var(--r-link-color-dark);
  --r-link-color-hover: #0373bd;
}

.verticator ~ .backgrounds .slide-background-content {
  background-color: inherit;
}
.verticator ~ .backgrounds .slide-background-content:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: inherit;
}

[data-state*=split-view] .row {
  display: grid;
  width: 100%;
  grid-template-columns: 1.2fr 0.8fr;
  grid-gap: 30px;
}

i {
  font-style: italic;
}

.centerblock {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

ol.twocol {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  counter-reset: item;
  width: 80%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
ol.twocol li {
  counter-increment: item;
  padding-left: 1.7em;
}
ol.twocol li:before {
  content: counter(item) ".";
  margin-left: -1.7em;
  margin-right: 0.5em;
  display: inline-block;
  width: 1.2em;
  text-align: right;
}

a.github-corner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: var(--c-theme-color, white);
}
.rtl a.github-corner {
  left: auto;
  right: 0;
}
a.github-corner.bottom {
  top: auto;
  bottom: 3px;
}

a.github-corner:hover {
  color: var(--c-theme-color, white);
  opacity: 1;
}

.reveal pre {
  font-size: 18px;
  width: 100%;
  margin: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: default;
}
.reveal pre:focus {
  outline: none;
}
.reveal pre code {
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
}
.reveal pre code:focus {
  outline: none;
}
.reveal pre + pre {
  margin-top: 20px;
}

li code {
  padding: 0.05em 0.3em;
  font-size: 0.8em;
  border-radius: 4px;
  background-color: rgba(39, 40, 34, 0.2);
}