section.center
	h1 Verticator
	h2 for Reveal.js
	h3 Light theme
	p.scrollvisible (Demo not for mobile devices)

section.center
	section.center
		h3 This theme has a light background
		p The bullet color is the RGB equivalent of "#222" because that is the color that is set in the "white" theme for the headings.

	section.center(data-background="#112266")
		p This slide has a dark data-background attribute. The bullet color is the RGB equivalent of "#fff" because that is the color that is set in the "white" theme for the headings.
	section.center(data-background="#fff")
		p This slide has a light data-background attribute.
		p It has no effect on the Verticator bullets, because the theme is already light.

	section.center
		h3 And a regular slide
