section.center
	h1 Verticator
	h2 for Reveal.js
	h3 Tooltip demo
	p.scrollvisible (Demo not for mobile devices)
	
section.center
	section.center
		h2 Setup
		p To get tooltips next to the Verticator bullets, set the option 'tooltip' to either of these values:
		ul
			li #[code tooltip: 'data-name'] or any other attribute. 
			li #[code tooltip: 'auto']
		//-button.swapper SWAP ME NOW

	section.center
		h3 Tooltip: section attribute
		p.small When you use #[code tooltip: 'data-name'] or #[code tooltip: 'title'] or any other attribute with a string value, the tooltip will show that value.

		pre
			code.javascript.
				Reveal.initialize({
					...
					verticator: {
						tooltip: 'data-name',
					},
					plugins: [ Verticator ]
				})

		pre
			code.
				<section data-name="Tooltip: section attribute">Content</section>

	section.center(data-name="Tooltip: auto mode")
		h3 Tooltip: auto
		p.small When you use #[code tooltip: 'auto'], Verticator will check titles of each slide in the order: #[code data-verticator-tooltip], #[code data-name], #[code title], and if none found, headings inside each slide in the order: #[code h1], #[code h2], #[code h3], #[code h4]. For this slide it will use the first attribute in the list that it can find: #[code data-name].

		pre
			code.javascript.
				Reveal.initialize({
					...
					verticator: {
						tooltip: 'auto',
					},
					plugins: [ Verticator ]
				})

		pre
			code.html.
				<section title="Not this" data-name="Tooltip: auto mode">Content</section>
	section.center
		h3 Use slide heading for the tooltip
		p.small This section has no attribute set, and because the auto-mode is set, will return the first heading it can find for the text inside the tooltip.

		pre
			code.javascript.
				Reveal.initialize({
					...
					verticator: {
						tooltip: 'auto',
					},
					plugins: [ Verticator ]
				})

		pre
			code.html.
				<section>
				    <h3>Use slide heading for the tooltip</h3>
				</section>
		p.small Auto-mode is convenient for Verticator tooltips in Markdown slides.


	section.center(data-verticator-tooltip="false", data-name="Not this")
		h3 No tooltip at all
		p.small To avoid showing the tooltip, set #[code data-verticator-tooltip="none"]. This will turn off the tooltip for only that section.

		pre
			code.javascript.
				Reveal.initialize({
					...
					verticator: {
						tooltip: 'auto',
					},
					plugins: [ Verticator ]
				})

		pre
			code.html.
				<section data-verticator-tooltip="none" data-name="Not this">Content</section>
