extends /demo/html/_templates/layouts/_reveal.pug

block slides
	include slides/_slidesdark

block append scripts
	script(src="plugin/highlight/highlight.js")
	script(src=`plugin/${pluginName}/${pluginName}.js`)

	script.
		// Get the deck
		const deck = document.querySelector(".reveal");
		
		// Define the plugins (Using strings)
		let plugins = ["!{plugin}", "RevealHighlight"];

		// Check the plugins
		const pluginCheck = (plugs) => plugs.reduce((a, p) => typeof window[p] === "function" ? (a.push(window[p]), a) : (console.warn(`Plugin "${p}" does not exist.`), a), []);

		let revealdeck = new Reveal(deck);
		revealdeck.initialize({
			history: true,
			overview: false,
			center: true,
			margin: 0.15,
			controlsTutorial: false,
			verticator: { skipuncounted: true, debug: true },
			plugins: pluginCheck(plugins)
		});